<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>cid00842</string>
      <string>cid00843</string>
      <string>cid00844</string>
      <string>cid00845</string>
      <string>cid00846</string>
      <string>cid00847</string>
      <string>cid00848</string>
      <string>cid00849</string>
      <string>cid00850</string>
      <string>cid00851</string>
      <string>cid00852</string>
      <string>cid00853</string>
      <string>cid00854</string>
      <string>cid00855</string>
      <string>cid00856</string>
      <string>cid00857</string>
      <string>cid00858</string>
      <string>cid00859</string>
      <string>cid00860</string>
      <string>cid00861</string>
      <string>cid00862</string>
      <string>cid00863</string>
      <string>cid00864</string>
      <string>cid00865</string>
      <string>cid00866</string>
      <string>cid00867</string>
      <string>cid00868</string>
      <string>cid00869</string>
      <string>cid00870</string>
      <string>cid00871</string>
      <string>cid00872</string>
      <string>cid00873</string>
      <string>cid00874</string>
      <string>cid00875</string>
      <string>cid00876</string>
      <string>cid00877</string>
      <string>cid00878</string>
      <string>cid00879</string>
      <string>cid00880</string>
      <string>cid00881</string>
      <string>cid00882</string>
      <string>cid00883</string>
      <string>cid00884</string>
      <string>cid00885</string>
      <string>cid00886</string>
      <string>cid00887</string>
      <string>cid00888</string>
      <string>cid00889</string>
      <string>cid00890</string>
      <string>cid00891</string>
      <string>cid00892</string>
      <string>cid00893</string>
      <string>cid00894</string>
      <string>cid00895</string>
      <string>cid00896</string>
      <string>cid00897</string>
      <string>cid00898</string>
      <string>cid00899</string>
      <string>cid00900</string>
      <string>cid00901</string>
      <string>cid00902</string>
      <string>cid00903</string>
      <string>cid00904</string>
      <string>cid00905</string>
      <string>cid00906</string>
      <string>cid00907</string>
      <string>cid00908</string>
      <string>cid00909</string>
      <string>cid00910</string>
      <string>cid00911</string>
      <string>cid00912</string>
      <string>cid00913</string>
      <string>cid00914</string>
      <string>cid00915</string>
      <string>cid00916</string>
      <string>cid00917</string>
      <string>cid00918</string>
      <string>cid00919</string>
      <string>cid00920</string>
      <string>cid00921</string>
      <string>cid00922</string>
      <string>cid00923</string>
      <string>cid00924</string>
      <string>cid00925</string>
      <string>cid00926</string>
      <string>cid00927</string>
      <string>cid00928</string>
      <string>cid00929</string>
      <string>cid00930</string>
      <string>cid00931</string>
      <string>cid00932</string>
      <string>cid00933</string>
      <string>cid00934</string>
      <string>cid00935</string>
      <string>cid00936</string>
      <string>cid00937</string>
      <string>cid00938</string>
      <string>cid00939</string>
      <string>cid00940</string>
      <string>cid00941</string>
      <string>cid00942</string>
      <string>cid00943</string>
      <string>cid00944</string>
      <string>cid00945</string>
      <string>cid00946</string>
      <string>cid00947</string>
      <string>cid00948</string>
      <string>cid00949</string>
      <string>cid00950</string>
      <string>cid00951</string>
      <string>cid00952</string>
      <string>cid00953</string>
      <string>cid00954</string>
      <string>cid00955</string>
      <string>cid00956</string>
      <string>cid00957</string>
      <string>cid00958</string>
      <string>cid00959</string>
      <string>cid00960</string>
      <string>cid00961</string>
      <string>cid00962</string>
      <string>cid00963</string>
      <string>cid00964</string>
      <string>cid00965</string>
      <string>cid00966</string>
      <string>cid00967</string>
      <string>cid00968</string>
      <string>cid00969</string>
      <string>cid00970</string>
      <string>cid00971</string>
      <string>cid00972</string>
      <string>cid00973</string>
      <string>cid00974</string>
      <string>cid00975</string>
      <string>cid00976</string>
      <string>cid00977</string>
      <string>cid00978</string>
      <string>cid00979</string>
      <string>cid00980</string>
      <string>cid00981</string>
      <string>cid00982</string>
      <string>cid00983</string>
      <string>cid00984</string>
      <string>cid00985</string>
      <string>cid00986</string>
      <string>cid00987</string>
      <string>cid00988</string>
      <string>cid00989</string>
      <string>cid00990</string>
      <string>cid00991</string>
      <string>cid00992</string>
      <string>cid00993</string>
      <string>cid00994</string>
      <string>cid00995</string>
      <string>cid00996</string>
      <string>cid00997</string>
      <string>cid00998</string>
      <string>cid00999</string>
      <string>cid01000</string>
      <string>cid01001</string>
      <string>cid01002</string>
      <string>cid01003</string>
      <string>cid01004</string>
      <string>cid01005</string>
      <string>cid01006</string>
      <string>cid01007</string>
      <string>cid01008</string>
      <string>cid01009</string>
      <string>cid01010</string>
    </array>
  </dict>
</plist>
