<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>cid00842</key>
    <string>cid00842.glif</string>
    <key>cid00843</key>
    <string>cid00843.glif</string>
    <key>cid00844</key>
    <string>cid00844.glif</string>
    <key>cid00845</key>
    <string>cid00845.glif</string>
    <key>cid00846</key>
    <string>cid00846.glif</string>
    <key>cid00847</key>
    <string>cid00847.glif</string>
    <key>cid00848</key>
    <string>cid00848.glif</string>
    <key>cid00849</key>
    <string>cid00849.glif</string>
    <key>cid00850</key>
    <string>cid00850.glif</string>
    <key>cid00851</key>
    <string>cid00851.glif</string>
    <key>cid00852</key>
    <string>cid00852.glif</string>
    <key>cid00853</key>
    <string>cid00853.glif</string>
    <key>cid00854</key>
    <string>cid00854.glif</string>
    <key>cid00855</key>
    <string>cid00855.glif</string>
    <key>cid00856</key>
    <string>cid00856.glif</string>
    <key>cid00857</key>
    <string>cid00857.glif</string>
    <key>cid00858</key>
    <string>cid00858.glif</string>
    <key>cid00859</key>
    <string>cid00859.glif</string>
    <key>cid00860</key>
    <string>cid00860.glif</string>
    <key>cid00861</key>
    <string>cid00861.glif</string>
    <key>cid00862</key>
    <string>cid00862.glif</string>
    <key>cid00863</key>
    <string>cid00863.glif</string>
    <key>cid00864</key>
    <string>cid00864.glif</string>
    <key>cid00865</key>
    <string>cid00865.glif</string>
    <key>cid00866</key>
    <string>cid00866.glif</string>
    <key>cid00867</key>
    <string>cid00867.glif</string>
    <key>cid00868</key>
    <string>cid00868.glif</string>
    <key>cid00869</key>
    <string>cid00869.glif</string>
    <key>cid00870</key>
    <string>cid00870.glif</string>
    <key>cid00871</key>
    <string>cid00871.glif</string>
    <key>cid00872</key>
    <string>cid00872.glif</string>
    <key>cid00873</key>
    <string>cid00873.glif</string>
    <key>cid00874</key>
    <string>cid00874.glif</string>
    <key>cid00875</key>
    <string>cid00875.glif</string>
    <key>cid00876</key>
    <string>cid00876.glif</string>
    <key>cid00877</key>
    <string>cid00877.glif</string>
    <key>cid00878</key>
    <string>cid00878.glif</string>
    <key>cid00879</key>
    <string>cid00879.glif</string>
    <key>cid00880</key>
    <string>cid00880.glif</string>
    <key>cid00881</key>
    <string>cid00881.glif</string>
    <key>cid00882</key>
    <string>cid00882.glif</string>
    <key>cid00883</key>
    <string>cid00883.glif</string>
    <key>cid00884</key>
    <string>cid00884.glif</string>
    <key>cid00885</key>
    <string>cid00885.glif</string>
    <key>cid00886</key>
    <string>cid00886.glif</string>
    <key>cid00887</key>
    <string>cid00887.glif</string>
    <key>cid00888</key>
    <string>cid00888.glif</string>
    <key>cid00889</key>
    <string>cid00889.glif</string>
    <key>cid00890</key>
    <string>cid00890.glif</string>
    <key>cid00891</key>
    <string>cid00891.glif</string>
    <key>cid00892</key>
    <string>cid00892.glif</string>
    <key>cid00893</key>
    <string>cid00893.glif</string>
    <key>cid00894</key>
    <string>cid00894.glif</string>
    <key>cid00895</key>
    <string>cid00895.glif</string>
    <key>cid00896</key>
    <string>cid00896.glif</string>
    <key>cid00897</key>
    <string>cid00897.glif</string>
    <key>cid00898</key>
    <string>cid00898.glif</string>
    <key>cid00899</key>
    <string>cid00899.glif</string>
    <key>cid00900</key>
    <string>cid00900.glif</string>
    <key>cid00901</key>
    <string>cid00901.glif</string>
    <key>cid00902</key>
    <string>cid00902.glif</string>
    <key>cid00903</key>
    <string>cid00903.glif</string>
    <key>cid00904</key>
    <string>cid00904.glif</string>
    <key>cid00905</key>
    <string>cid00905.glif</string>
    <key>cid00906</key>
    <string>cid00906.glif</string>
    <key>cid00907</key>
    <string>cid00907.glif</string>
    <key>cid00908</key>
    <string>cid00908.glif</string>
    <key>cid00909</key>
    <string>cid00909.glif</string>
    <key>cid00910</key>
    <string>cid00910.glif</string>
    <key>cid00911</key>
    <string>cid00911.glif</string>
    <key>cid00912</key>
    <string>cid00912.glif</string>
    <key>cid00913</key>
    <string>cid00913.glif</string>
    <key>cid00914</key>
    <string>cid00914.glif</string>
    <key>cid00915</key>
    <string>cid00915.glif</string>
    <key>cid00916</key>
    <string>cid00916.glif</string>
    <key>cid00917</key>
    <string>cid00917.glif</string>
    <key>cid00918</key>
    <string>cid00918.glif</string>
    <key>cid00919</key>
    <string>cid00919.glif</string>
    <key>cid00920</key>
    <string>cid00920.glif</string>
    <key>cid00921</key>
    <string>cid00921.glif</string>
    <key>cid00922</key>
    <string>cid00922.glif</string>
    <key>cid00923</key>
    <string>cid00923.glif</string>
    <key>cid00924</key>
    <string>cid00924.glif</string>
    <key>cid00925</key>
    <string>cid00925.glif</string>
    <key>cid00926</key>
    <string>cid00926.glif</string>
    <key>cid00927</key>
    <string>cid00927.glif</string>
    <key>cid00928</key>
    <string>cid00928.glif</string>
    <key>cid00929</key>
    <string>cid00929.glif</string>
    <key>cid00930</key>
    <string>cid00930.glif</string>
    <key>cid00931</key>
    <string>cid00931.glif</string>
    <key>cid00932</key>
    <string>cid00932.glif</string>
    <key>cid00933</key>
    <string>cid00933.glif</string>
    <key>cid00934</key>
    <string>cid00934.glif</string>
    <key>cid00935</key>
    <string>cid00935.glif</string>
    <key>cid00936</key>
    <string>cid00936.glif</string>
    <key>cid00937</key>
    <string>cid00937.glif</string>
    <key>cid00938</key>
    <string>cid00938.glif</string>
    <key>cid00939</key>
    <string>cid00939.glif</string>
    <key>cid00940</key>
    <string>cid00940.glif</string>
    <key>cid00941</key>
    <string>cid00941.glif</string>
    <key>cid00942</key>
    <string>cid00942.glif</string>
    <key>cid00943</key>
    <string>cid00943.glif</string>
    <key>cid00944</key>
    <string>cid00944.glif</string>
    <key>cid00945</key>
    <string>cid00945.glif</string>
    <key>cid00946</key>
    <string>cid00946.glif</string>
    <key>cid00947</key>
    <string>cid00947.glif</string>
    <key>cid00948</key>
    <string>cid00948.glif</string>
    <key>cid00949</key>
    <string>cid00949.glif</string>
    <key>cid00950</key>
    <string>cid00950.glif</string>
    <key>cid00951</key>
    <string>cid00951.glif</string>
    <key>cid00952</key>
    <string>cid00952.glif</string>
    <key>cid00953</key>
    <string>cid00953.glif</string>
    <key>cid00954</key>
    <string>cid00954.glif</string>
    <key>cid00955</key>
    <string>cid00955.glif</string>
    <key>cid00956</key>
    <string>cid00956.glif</string>
    <key>cid00957</key>
    <string>cid00957.glif</string>
    <key>cid00958</key>
    <string>cid00958.glif</string>
    <key>cid00959</key>
    <string>cid00959.glif</string>
    <key>cid00960</key>
    <string>cid00960.glif</string>
    <key>cid00961</key>
    <string>cid00961.glif</string>
    <key>cid00962</key>
    <string>cid00962.glif</string>
    <key>cid00963</key>
    <string>cid00963.glif</string>
    <key>cid00964</key>
    <string>cid00964.glif</string>
    <key>cid00965</key>
    <string>cid00965.glif</string>
    <key>cid00966</key>
    <string>cid00966.glif</string>
    <key>cid00967</key>
    <string>cid00967.glif</string>
    <key>cid00968</key>
    <string>cid00968.glif</string>
    <key>cid00969</key>
    <string>cid00969.glif</string>
    <key>cid00970</key>
    <string>cid00970.glif</string>
    <key>cid00971</key>
    <string>cid00971.glif</string>
    <key>cid00972</key>
    <string>cid00972.glif</string>
    <key>cid00973</key>
    <string>cid00973.glif</string>
    <key>cid00974</key>
    <string>cid00974.glif</string>
    <key>cid00975</key>
    <string>cid00975.glif</string>
    <key>cid00976</key>
    <string>cid00976.glif</string>
    <key>cid00977</key>
    <string>cid00977.glif</string>
    <key>cid00978</key>
    <string>cid00978.glif</string>
    <key>cid00979</key>
    <string>cid00979.glif</string>
    <key>cid00980</key>
    <string>cid00980.glif</string>
    <key>cid00981</key>
    <string>cid00981.glif</string>
    <key>cid00982</key>
    <string>cid00982.glif</string>
    <key>cid00983</key>
    <string>cid00983.glif</string>
    <key>cid00984</key>
    <string>cid00984.glif</string>
    <key>cid00985</key>
    <string>cid00985.glif</string>
    <key>cid00986</key>
    <string>cid00986.glif</string>
    <key>cid00987</key>
    <string>cid00987.glif</string>
    <key>cid00988</key>
    <string>cid00988.glif</string>
    <key>cid00989</key>
    <string>cid00989.glif</string>
    <key>cid00990</key>
    <string>cid00990.glif</string>
    <key>cid00991</key>
    <string>cid00991.glif</string>
    <key>cid00992</key>
    <string>cid00992.glif</string>
    <key>cid00993</key>
    <string>cid00993.glif</string>
    <key>cid00994</key>
    <string>cid00994.glif</string>
    <key>cid00995</key>
    <string>cid00995.glif</string>
    <key>cid00996</key>
    <string>cid00996.glif</string>
    <key>cid00997</key>
    <string>cid00997.glif</string>
    <key>cid00998</key>
    <string>cid00998.glif</string>
    <key>cid00999</key>
    <string>cid00999.glif</string>
    <key>cid01000</key>
    <string>cid01000.glif</string>
    <key>cid01001</key>
    <string>cid01001.glif</string>
    <key>cid01002</key>
    <string>cid01002.glif</string>
    <key>cid01003</key>
    <string>cid01003.glif</string>
    <key>cid01004</key>
    <string>cid01004.glif</string>
    <key>cid01005</key>
    <string>cid01005.glif</string>
    <key>cid01006</key>
    <string>cid01006.glif</string>
    <key>cid01007</key>
    <string>cid01007.glif</string>
    <key>cid01008</key>
    <string>cid01008.glif</string>
    <key>cid01009</key>
    <string>cid01009.glif</string>
    <key>cid01010</key>
    <string>cid01010.glif</string>
  </dict>
</plist>
